version: "3.9"

services:
  app:
    image: nurilhuda7337/belajar-gin-gonic:latest
    depends_on:
      - db
      - redis
    ports:
      - "8080:8080"
      - "443:443"
    environment:
      APP_ENV: PROD
      UPLOAD_DIR: "./static/file"
      STATIC_DIR: "./static"
      DATABASE_URL: postgres://postgres:7@db:5432/postgres?sslmode=disable
      REDIS_ADDR: redis:6379
      REDIS_PASSWORD: ""  # isi jika pakai password
    volumes:
      - /home/ubuntu/certs:/app/certs
      - .:/app  # Mount semua code untuk hot reload
      - ./static/file:/app/static/file  # Uploads persistent

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 7
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    restart: always
    ports:
      - "6379:6379"

volumes:
  pgdata:
